.habit-text-box {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 600px;
}

.habit-text {
    margin: auto;
    display: inline;
    font-size: larger;
}

.toggle-habit-check-box {
    float: inline-end;
    margin: auto;
    margin-right: 23px;
    width: 22px;
    height: 22px;
}

.undo-habit-button {
    float: inline-end;
    margin: auto;
    margin-right: 10px;
}

.green-out {
    animation-name: green-out;
    animation-duration: 1s;
}

@keyframes green-out {
    0% {
        background-color: white;
    }
    50% {
        background-image: linearGradient(to right, darkseagreen, white);
    }
    100% {
        background-color: darkseagreen;
    }
}