<nav>
    <!-- <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/habits">Habits</a></li>
        <li><a routerLink="/metrics">Metrics</a></li>
        <li><a routerLink="/about">About</a></li>
    </ul> -->

    <div id="nav-holder">
        <div class="nav-link" routerLink="/dashboard">
            <p class="nav-text">DASHBOARD</p>
        </div>
        <div class="nav-link" routerLink="/habits">
            <p class="nav-text">HABITS</p>
        </div>
        <div class="nav-link" routerLink="/metrics">
            <p class="nav-text">METRICS</p>
        </div>
        <div class="nav-link" routerLink="/about">
            <p class="nav-text">ABOUT</p>
        </div>
    </div>
</nav>
