<nav>
    <div id="nav-holder">
        <div class="nav-link" routerLink="/dashboard">
            <p class="nav-text">DASHBOARD</p>
        </div>
        <div class="nav-link" routerLink="/habits">
            <p class="nav-text">HABITS</p>
        </div>
        <div class="nav-link" routerLink="/metrics">
            <p class="nav-text">METRICS</p>
        </div>
        <div class="nav-link" routerLink="/about">
            <p class="nav-text">ABOUT</p>
        </div>
        <div class="nav-link" routerLink="/login">
            <p class="nav-text">LOG IN</p>
        </div>
    </div>
</nav>
