<div id="about-page-holder">
    <h1>What is HabitTracker?</h1>
    <p id="about-page-text">
        HabitTracker is a web app built by me (Thomas McNamara). It's purpose is to track and visualize
        several habits and metrics so that I can have a better understanding of the progress that I am
        making towards my goals. It was started as an excuse to learn Angular for a job interview. 
        <br><br>
        As you might have guessed, the frontend was made using Angular. I used the Angular CLI to generate
        boilerplate and help build/run the frontend while it was still in development. Honestly, the CLI
        was very helpful. I rate it a 10/10 and would recommend it to anyone learing Angular. I used Node.js 
        and Express.js to build an API for the backend. It was my first time building an API completely from 
        scratch, but I felt it went pretty smoothly. The data is stored on a MySQL server and is queried by 
        the backend with the MySQL2 library.
        <br><br>
        [This paragraph will be about authentication]
        <br><br>
        As I am writing this, I am working to containerize the different components of the app with Docker.
        [The rest of this paragraph will be dedicated to talking about Docker and potentially Kubernetes]
        <br><br>
        [I think a conclusion paragraph will go here]
    </p>
</div>
