<div id="form-scroll">
    <div id="form-wrapper">
        <div id="form-header">
            <div>
                <h1>Habit Form</h1>
                <p>Mark habits as complete or incomplete</p>
            </div>
            <div id="right-holder">
                <div id="date-picker-holder">
                    <mat-form-field 
                        subscriptSizing="dynamic" appearance="outline"
                        *ngIf="toggleController.value === 'backfill'"
                        id="form-field"
                    >
                        <mat-label>Choose a date</mat-label>
                        <input 
                            matInput [matDatepicker]="picker" [formControl]="dateController"
                            (dateChange)="handleDateSelect($event)" id="date-picker"
                        >
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div id="toggle-holder">
                    <mat-button-toggle-group 
                        [formControl]="toggleController" (change)="handleToggle($event)"
                    >
                        <mat-button-toggle value="today">Today</mat-button-toggle>
                        <mat-button-toggle value="backfill">Backfill</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
        <ng-container *ngIf="formValuesLoaded; else spinner">
            <ng-container *ngIf="errorMsg">
                <div id="error-icon-holder">
                    <mat-icon color="warn" id="error-icon">error_outline</mat-icon>
                </div>
                <div id="error-message-holder">
                    <p id="error-message">{{errorMsg}}</p>
                </div>
            </ng-container>
            <ng-container *ngFor="let habit of formValues; let i = index">
                <ng-container [ngSwitch]="habit.value">
                    <!-- testing case -->
                    <div *ngSwitchDefault class="form-value-item">
                        <p>{{habit.name}}</p>
                        <p>{{habit.value}}</p>
                        <p>{{habit.description}}</p>
                        <p>{{habit.enabled}}</p>
                    </div>

                    <!-- false -->
                    <div *ngSwitchCase="0" class="form-value-item">
                        <div class="form-value-grid">
                            <p 
                                (click)="habit.showDescription = !habit.showDescription"
                                class="form-value-name"
                            >{{habit.name}}</p>
                            <mat-checkbox (change)="habit.selected = !habit.selected"></mat-checkbox>
                        </div>
                        <div *ngIf="habit.showDescription">
                            <p class="form-value-description">{{habit.description}}</p>
                        </div>
                    </div>

                    <!-- true -->
                    <div *ngSwitchCase="1" class="form-value-item completed">
                        <div class="form-value-grid false-form-value-grid">
                            <p 
                                (click)="habit.showDescription = !habit.showDescription"
                                class="form-value-name"
                            >{{habit.name}}</p>
                            <button 
                                mat-flat-button color="accent" class="undo-button"
                                (click)="handleUndo(i)"
                            >undo</button>
                        </div>
                        <div *ngIf="habit.showDescription">
                            <p class="form-value-description">{{habit.description}}</p>
                        </div>
                    </div>

                    <!-- null -->
                    <div *ngSwitchCase="null" class="form-value-item disabled">
                        <div class="form-value-grid null-form-value-grid">
                            <p 
                                (click)="habit.showDescription = !habit.showDescription"
                                class="form-value-name"
                            >{{habit.name}}</p>
                            <button 
                                mat-flat-button color="accent" class="enable-button"
                                (click)="handleUndo(i)"
                            >enable</button>
                        </div>
                        <div *ngIf="habit.showDescription">
                            <p class="form-value-description">{{habit.description}}</p>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <div id="plus-holder" *ngIf="!errorMsg || errorMsg === 'you have no habits!'">
                <button mat-fab color="primary" id="plus-button" routerLink="/habits/create">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </ng-container>
        <ng-template #spinner>
            <div id="spinner-holder">
                <mat-spinner color="primary"></mat-spinner>
            </div>
        </ng-template>
    </div>
</div>
<div id="button-holder">
    <button 
        mat-flat-button color="primary" class="bottom-button" routerLink="/habits/edit"
    >edit habits</button>
    <div id="spacer">
        <button 
            mat-flat-button color="primary" class="bottom-button" id="disable-button"
            *ngIf="toggleController.value === 'backfill'" (click)="handleDisable()"
            [disabled]="errorMsg"
        >disable</button>
    </div>
    <button 
        mat-flat-button color="primary" class="bottom-button" (click)="handleSubmit()"
        [disabled]="errorMsg"
    >submit</button>
</div>

