<div id="about-page-holder">
    <h1>What is HabitTracker?</h1>
    <p id="about-page-text">
        HabitTracker is a web app built by me (Thomas McNamara). It's purpose is to track and visualize
        several habits and metrics so that I can have a better understanding of the progress that I am
        making towards my goals. It was started as an excuse to learn Angular for a job interview. 
        <br><br>
        As you might expect, the frontend was made using Angular. I used the Angular CLI to generate
        boilerplate and help build/run the frontend while it was still in development. Honestly, the CLI
        was very helpful (10/10, I would recommend to anyone learning Angular). I used Node.js and Express.js
        to build an API for the backend. It was my first time building my own API, but I felt it went pretty
        smoothly. The data is stored on a MySQL server and is queried by the backend with the MySQL2 library.
        <br><br>
        As I am writing this, I am working to containerize the different components of the app with Docker.
    </p>
</div>
