#editor-scroll {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

#editor-wrapper {
    width: 800px;
}

#editor-header {
    font-family: "Mulish", sans-serif;
    border-width: 1px;
    border-color: black;
    border-bottom-style: solid;
    padding-bottom: 5px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 175px;
}

#title, #description {
    margin: 0;
    margin-left: 5px;
}

.editor-item {
    margin-top: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
}

.editor-grid {
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px;
    align-items: center;
    height: 48px;
}

.item-name {
    font-family: "Mulish", sans-serif;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

.item-description {
    font-family: "Mulish", sans-serif;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0;
    margin-top: 5px;
    padding-top: 3px;
    padding-left: 5px;
}

#bottom-spacer {
    height: 50px;
}

.disabled {
    background-color: #C0C0C0;
}

#create-button {
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    font-size: 1.25em;
    border-style: solid;
    border-width: 1px;
    height: 2em;
}