<div id="editor-scroll">
    <div id="editor-wrapper">
        <div id="editor-header">
            <div>
                <h1 id="title">Habit Editor</h1>
                <p id="description">Edit your habits with the form below</p>
            </div>
            <button 
                mat-fab extended color="accent" id="done-button" routerLink="/habits/form"
            ><mat-icon id="done-button-icon">chevron_left</mat-icon>Done</button>
            <button 
                mat-fab extended color="primary" id="create-button" routerLink="/habits/create"
            ><mat-icon id="create-button-icon">add</mat-icon> Create New</button>

        </div>
        <ng-container *ngIf="habitsLoaded">
            <ng-container *ngFor="let habit of habits; let index = index">
                <div [ngClass]="{'disabled': !habit.enabled}" class="editor-item">
                    <div class="editor-grid">
                        <p class="item-name">{{habit.name}}</p>
                        <button 
                            mat-icon-button class="enable-button" (click)="toggleEnabled(index)"
                        >
                            <mat-icon *ngIf="habit.enabled; else disabled">pause</mat-icon>
                        </button>
                        <button mat-icon-button id="edit-button" routerLink="/habits/edit/{{habit.name}}">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button id="delete-button" (click)="openDeleteDialog(index)">
                            <!-- clicking this will create a dialog -->
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </div>
                    <p class="item-description">{{habit.description}}</p>
                </div>
    
                <ng-template #disabled>
                    <mat-icon>play_arrow</mat-icon>
                </ng-template>
            </ng-container>
        </ng-container>
        <div id="bottom-spacer"></div>
    </div>    
</div>