<!--
    1. bar at the bottom with a "Back" button and a "Create New Button"
    2. list of habits with "Edit" and "Delete" buttons
-->
<app-create-metric-popup
    *ngIf="createMetricPopup"
    (clickedOff)="createMetricPopup = false"
    (metricCreated)="addMetric($event); createMetricPopup = false"
></app-create-metric-popup>
<app-edit-metric-popup
    *ngIf="editMetricPopup" 
    (clickedOff)="editMetricPopup = false"
    (metricEdited)="editMetric(selectedMetric, $event); editMetricPopup = false"
></app-edit-metric-popup>
<div id="edit-metric-holder-box">
    <app-edit-metric-holder
        *ngFor="let metric of metrics" [metric]="metric"
        (editClicked)="editMetricPopup = true; selectedMetric = metric"
        (toggleClicked)="toggleMetric(metric)"
        (deleteClicked)="deleteMetric(metric)"
    ></app-edit-metric-holder>
</div>
<app-create-metric-bar
    (createMetricClicked)="createMetricPopup = true"
></app-create-metric-bar>