<!-- 
    Three Things This Should Do
    1. delete habits (this should have some sort of "are you sure" pop up)
    2. create habits (this should also be done via pop up)
    3. edit habits (also done via pop up)

    habits will be displayed in a horizonal bars, each bar will have an edit and delete button on them
    there will be a bar at the bottom with a button that says "done" which will take the user back to the habit form
    and a button that says "create new" which will allow the user to create a new habit
-->
<app-create-habit-popup 
    *ngIf="createHabitPopUp" (habitEvent)="addHabit($event)" (clickedOff)="exitPopUps()"
></app-create-habit-popup>
<app-edit-habit-popup
    *ngIf="editHabitPopUp" (habitEvent)="editHabit(selectedHabit, $event)" (clickedOff)="exitPopUps()"
></app-edit-habit-popup>
<div id="editor-wrapper">
    <div id="edit-habit-holder-box">
        <app-edit-habit-holder 
            *ngFor="let habit of habits" [habit]="habit" (deleteClicked)="deleteHabit(habit)"
            (editClicked)="setEditHabitPopUp(true); setSelectedHabit(habit)"
            (toggleClicked)="toggleHabit(habit)"
        ></app-edit-habit-holder>
    </div>
    <app-create-bar (createHabitClicked)="setCreateHabitPopUp(true)"></app-create-bar>
</div>


