.habit-text-box {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 600px;
}

.habit-text {
    margin: auto;
    display: inline;
    font-size: larger;
}

.habit-delete-button {
    float: inline-end;
    margin: auto;
    margin-right: 10px;
}

.habit-edit-button {
    float: inline-end;
    margin: auto;
    margin-right: 10px;
}

.habit-toggle-button {
    float: inline-end;
    margin: auto;
    margin-right: 10px;
    width: 10%;
}

.grey-out {
    background-color: grey;
}