

nav {
    position: absolute;
    width: 100%;
    background-color: green;
    height: 6vh;
    top: 0%;
    left: 0%;
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
    z-index: 5;
}

#nav-holder {
    width: 625px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 125px);
    grid-template-rows: 6vh;
    border-right: solid;
    border-width: 2px;
    border-color: black;
}

.nav-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-left: solid;
    border-width: 2px;
    border-color: black;
    cursor: pointer;
}

.nav-link:hover .nav-text {
    color: darkseagreen;
}

.nav-text {
    font-family: "Mulish", sans-serif;
    color: white;
    font-size: x-large;
    padding-left: 8px;
    padding-right: 8px;
}