/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
}

.pop-up {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    background-color: blueviolet;
}