#habit-pie-chart-holder {
    display: grid;
    grid-template-columns: repeat(7, 140px);
    justify-content: space-around;
    grid-template-rows: 160px;
    width: 980px;
    max-width: 70%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    font-family: "Mulish", sans-serif;

    animation-name: green-in;
    animation-duration: 2s;
}

@keyframes green-in {
    0% {
        background-color: green;
        opacity: 0;
    }
    100% {
        background-color: white;
        opacity: 100%;
    }
}